.menu {
  text-align: "center";
  color: "#fff";
  height: 64;
  /* padding-inline: 50; */
  line-height: "64px";
  background-color: white;
  border-color: burlywood;
}

.add-cards {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
  padding: 20px 20px 0 20px;
}

.add-cards22 {
  display: flex;
  grid-template-columns: auto auto auto;
  gap: 20px;
  /* padding: 20px 20px 0 20px; */
  padding: 10px;
}
